<!DOCTYPE html>
<html>
  <head>
    <link data-require="bootstrap@4.1.3" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.1.3" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
	<style>
	body {
    background-color: #e3f2fd;;
}
</style>
  </head>
  <body>
  
 {% if lg == False: %}
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Decentralized Centralized Bank of Cartercoin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/login">Login</a>
      <a class="nav-item nav-link" href="/createanaccount">Create An Account</a>
     
    </div>
  </div>
</nav>
{% else: %}
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Decentralized Centralized Bank of Cartercoin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/logout">Logout</a>
	  <a class="nav-item nav-link" href="/viewaccountinfo">View Account info</a>
	  <a class="nav-item nav-link" href="/minecartercoin">Mine Cartercoin</a>
    </div>
    </div>
    </nav>
	{% endif %} 
  <!-- ERROR MESSAGES -->
  {% if error == "email": %}
  <p style='font-family:Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;color:red'>Please enter a valid e-mail.</p>
  {% elif error == "matchingpassword": %}
  <p style='font-family:Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;color:red'>Password does not match confirm password.</p>
  {% elif error == "password": %}
  <p style='font-family:Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;color:red'>Password must not contain the following characters: ', ", or \</p>
  {% elif error == "names": %}
  <p style='font-family:Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;color:red'>First and Last name must only contain letters and hyphens.</p>
  {% endif %}
  <!-- FORM -->
  <form action='/createanaccount' method='post'>
  <div class="form-group">
    <label for="EmailAddress">Email address</label>
    <input type="email" class="form-control" name='email' id="email" aria-describedby="email" placeholder="Enter email">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>

    <label for="FirstName">First Name</label>
    <input type="text" class="form-control" name="FN" id="firstname" aria-describedby="firstname" placeholder="Enter Name">

    <label for="Last Name">Last Name</label>
    <input type="text" class="form-control" name="LN" id="lastname" aria-describedby="lastname" placeholder="Enter Name">
 
    <label for="Password">Password</label>
    <input type="password" class="form-control" name='password' id="password" placeholder="Password">

    <label for="CPassword">Confirm Password</label>
    <input type="password" class="form-control" name='cpassword' id="CPassword" placeholder="Confirm Password">
	
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </body>
</html>
