<!DOCTYPE html>
<html>
  <head>
    <link data-require="bootstrap@4.1.3" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.1.3" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>
  <body>
  <h2 style='font-family:Helvetica,Arial,sans-serif;font-size:18px;font-style:normal' align = 'right'>DCBoC</h2>
  <h2 style='font-family:Helvetica,Arial,sans-serif;font-size:26px;font-style:normal' align = 'Left'>Create an Account</h2>
  <form action='/createanaccount' method='post'>
  <div class="form-group">
    <label for="EmailAddress">Email address</label>
    <input type="email" class="form-control" name='email' id="email" aria-describedby="email" placeholder="Enter email">
    <small class="form-text text-muted">We'll never share your email with anyone else.</small>

    <label for="FirstName">First Name</label>
    <input type="text" class="form-control" name="firstname" id="firstname" aria-describedby="firstname" placeholder="Enter Name">

    <label for="Last Name">Last Name</label>
    <input type="text" class="form-control" name="lastname" id="lastname" aria-describedby="lastname" placeholder="Enter Name">
 
    <label for="SQ">Security Question</label>
    <input type="text" class="form-control" name='SQ'id="SQ" aria-describedby="SQ" placeholder="Security Question">

    <label for="SA">Security Question Answer</label>
    <input type="text" class="form-control" name='SA' id="SA" aria-describedby="SA" placeholder="Security Question Answer">
 
    <label for="Password">Password</label>
    <input type="password" class="form-control" name='password' id="password" placeholder="Password">

    <label for="CPassword">Confirm Password</label>
    <input type="password" class="form-control" name='cpassword' id="CPassword" placeholder="Confirm Password">
	
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </body>
</html>
