<!DOCTYPE html>
<html>

  <head>
    <link data-require="bootstrap@4.1.3" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@4.1.3" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js"></script>
  </head>

  <body>
  {% if lg == False: %}
	<meta http-equiv="Refresh" content="0; /">
	{% else: %}
	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">Decentralized Centralized Bank of Cartercoin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/logout">Logout</a>
	  <a class="nav-item nav-link" href="/viewaccountinfo">View Account info</a>
      <a class="nav-item nav-link" href="/createanaccount">Create An Account</a> 
    </div>
    </div>
    </nav>
	{% endif %} 
   <h2 style='font-family:Helvetica,Arial,sans-serif;font-size:26px;font-style:normal' align = 'Left'>Email</h2><br/>
   
   
  </body>
</html>
